body {
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    color: white;
    overflow: hidden;
    font-size: 115%;
}

.cs-dialog .text.description p {
    margin-bottom: 1rem !important;
}

.cs-dialog p {
    margin-bottom: 1rem !important;
}

.container {
    position: absolute;
    left: 10%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
}

.container .menu-item {
    cursor: pointer;
}

.container .menu-item:hover {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}